ul.breadcrumb {
  padding: 10px 16px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li:first-child {
  position: relative;
}

ul.breadcrumb li:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  bottom: 4px;
  width: 16px;
  height: 14px;
  margin-right: 8px;
  background-image: url(../icons/home.svg);
}

ul.breadcrumb li:last-child a {
  color: #001018;
}

ul.breadcrumb li a {
  color: #687787;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

ul.breadcrumb li a:active {
  color: #001018;
}

ul.breadcrumb li a.middleicon {
  position: relative;
  padding-left: 22px;
}

ul.breadcrumb li a.middleicon::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 16px;
  height: 14px;
  background-image: url(../icons/shop.svg);
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #687787;
  content: "/\00a0";
}

nav {
  width: 100%;
  height: 82px;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 83, 125, 0.1);
          box-shadow: 0px 6px 6px rgba(0, 83, 125, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .content {
  width: 100%;
  max-width: 1245px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo {
  width: 200px;
  min-width: 200px;
  height: 50px;
  min-height: 50px;
}

nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .searchBar {
  max-width: 992px;
  width: 100%;
  height: 48px;
  position: relative;
  margin: 0px 32px;
}

nav .searchBar input {
  width: 100%;
  height: 100%;
  background: #f7f8f9;
  border-radius: 4px;
  padding: 12px 60px 12px 12px;
}

nav .searchBar input::-webkit-search-cancel-button {
  display: none;
}

nav .searchBar img {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  right: 20px;
}

nav .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .icons ul li {
  margin: 0px 15px;
}

nav .icons ul li:last-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 64px;
  }
  nav .logo {
    width: 128px;
    height: 32px;
    min-width: 128px;
    min-height: 32px;
  }
  nav .icons ul li:first-child {
    display: none !important;
  }
  nav .icons ul li:last-child {
    display: block !important;
  }
}

@media only screen and (max-width: 375px) {
  nav {
    height: 64px;
  }
  nav .searchBar {
    display: none;
  }
  nav .icons ul li:nth-child(2) {
    display: none !important;
  }
}

.searchBox {
  width: 335px;
  height: 48px;
  font-size: 16px;
  position: relative;
}

.searchBox input {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #8996a2;
}

.searchBox input::-webkit-search-cancel-button {
  margin-right: 40px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.searchBox input:hover {
  background: #f7f8f9;
}

.searchBox input:active {
  background: #fff;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 83, 125, 0.1);
          box-shadow: 0px 6px 6px rgba(0, 83, 125, 0.1);
}

.searchBox button {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  right: 10px;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.searchBox button img {
  width: 20px;
}

.searchBox button:hover {
  background: #e7f3f9;
}

.searchBox button:active {
  background: #d9ecf5;
}

.tabs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 821px;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
}

.tabs ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tabs ul li {
  width: auto;
  height: auto;
}

.tabs ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 16px;
  padding: 12px 20px;
  background-color: transparent;
  cursor: pointer;
  color: #4e5d6b;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  overflow: hidden;
}

.tabs ul li button:hover {
  color: #001018;
}

.tabs ul li button:active::after {
  bottom: 0;
}

.tabs ul li button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #007dbc;
  position: absolute;
  left: 0;
  -webkit-transition: bottom 100ms cubic-bezier(0.24, 0.94, 0.42, 1.01);
  transition: bottom 100ms cubic-bezier(0.24, 0.94, 0.42, 1.01);
  bottom: -2px;
}

.tabs ul li button.heart::before {
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  background-image: url(../icons/heart_gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.tabs ul li button.heart:hover::before {
  background-image: url(../icons/heart_black.svg) !important;
}

.tabs ul li button.heart.active::before {
  background-image: url(../icons/heart_sky.svg) !important;
}

.tabs ul li button.active {
  color: #007dbc;
}

.tabs ul li button.active::after {
  bottom: 0;
}

.tabs ul li button.active .number {
  color: #fff;
  background: #007dbc !important;
}

.tabs ul li button .number {
  width: 20px;
  height: 20px;
  background: #eff1f3;
  border: 1px solid #d9dde1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  margin-left: 10px;
}
/*# sourceMappingURL=navigation.css.map */